@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
:root{
    --black--:#262626;
    --white--:#FFFFFF;
    --bg--: #E5E5E5;
    --text-color--:#1D1D1D;
    --list-text--:#626262;
    --bg-food--:#b8b8b8;
}
.container{
    width: 1440px;
    margin: 0 auto;
    position: relative; 
}
.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.header-logo{
    margin-left: 80px;
}
.header-nav{
    display: flex;
    margin-right: 80px;
}

.header-nav__btn{
    width: 80px;
    height: 40px;
    background-color: var(--white--);
    margin-right: 30px;
    border: 1px solid #E0E0E0;
}
.header-nav__img{
    display: block;
    background-image: url("/icons/basket-icon.svg");
    width: 19px;
    height: 22px;
    margin-top: 7px;
}
.header-nav__img:hover{
    background-image: url("/icons/basket-hover.svg");
    width: 19px;
    height: 22px;
    margin-top: 7px;
}
.btn--register{
    background-color: var(--black--);
    color: var(--white--);
}
.header-nav__btn:hover{
    background-color: #57AD56;
    color: var(--white--);
}

@media screen and (max-width:425px){
    .container{
        width: 100%;
    }
    .header-nav{
        margin: 0;
    }
    .header-logo{
        margin: 20px;
    }
    .header-nav__btn{
        margin-right: 5px;
    }
    .header-nav__img{
        display: none;
    }
    .food-nav{
        margin-top: 90px;
        margin-bottom: 30px;
        text-align: center;
    }
    .main-img-bg{
        display: none;
    }
    .main-bg-mobile{
        display: block;
        width: 100%;
        height: 250px;
        object-fit:cover;
    }
    .main-img-name{
        position: absolute;
        top: 190px;
        left: 10px;
        width: 95%;
        box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    }
    .main-img-name-laptop{
        display: none;
    }
    .main-food{
        display: none;
    }
    .menu-info{
        width: 100%;
        height: 100px;
    }
    .menu-info__img img{
        width: 90px;
        height: 90px;
        margin-top: 10px;
    }
    .menu-list{
        margin-left: 10px;
        margin-top: 10px;
    }
    .menu-list__name{
        font-size: 18px;
        line-height: 20px;
    }
    .menu-list__price{
        position: absolute;
        bottom: 5px;
    }
    .footer-end{
        height: 125px;
    }
    
    
    
    
    
}
@media screen and (min-width:768px) {
    .header-nav__img{
        display: block;
    }
    .main-img-bg{
        display: block;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .main-img-name{
        display: none;
    }
    .main-img-name-laptop{
        width: 400px;
        height: 210px;
        position: absolute;
        left: 8px;
        top: 152px;
        object-fit: cover;
    }
    .main-bg-mobile{
        display: none;
    }
    .food-nav{
        margin-left: 270px;
        margin-top: 60px;
    }
    
    .menu-list{
        margin-left: 25px;
        margin-top: 20px;
    }
    .menu-info{
        width: 100%;
        height: 160px;
        margin-right: 30px;
        margin-top: 50px;
    }
    .menu-list__name{
        font-size: 16px;
        line-height: 24px;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 230px;
    }
    .footer-end{
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
    .footer-end__text{
        margin-right: 325px;
    }
    
    
    

    
    

}

@media screen and (min-width:1440px) {
    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 100px;
    }
    .menu-info{
        width: 470px;
    }
    
}
.menu-info{
    border: 1px solid rgba(117, 117, 117, 0.2);
}
.menu-info:hover{
    background-color: var(--bg-food--);
}
.food-list{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}
.food-list__item a{
    margin-left: 100px;
    color: var(--list-text--);
    font-size: 18px;
    line-height: 19px;
}
.food-list__item a:active {
    color: #327430;
}
.food-nav{
    font-size: 22px;
    line-height: 34px;
    color: var(--text-color--);
}

.menu-info{
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu-list__name{
    color: var(--text-color--)
}
.menu-list__info{
    font-size: 13px;
    line-height: 21px;
    color: var(--list-text--);
    margin-top: 10px;
}
.menu-list__price{
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: var(--text-color--);
    position: absolute;
    bottom: 5px;
}
/* FOOTER */
.footer{
    width: 100%;
    background-color: var(--black--);
    margin-top: 60px;
}
.footer-logo img{
    width: 190px;
    height: 20px;
    margin-top: 56px;
    margin-left: 40px;
    
}
.footer-line{
    background: var(--white--);
    mix-blend-mode: normal;
    opacity: 0.4;
    width: 95%;
    margin: 0 auto;
    height: 1px;
    margin-top: 40px;
}
.footer-info__lang{
    background-image: url("/icons/Shape.png");
    background-position: left;
    background-repeat: no-repeat;
    width: 180px;
    height: 40px;
    background-color: #3B3B3B;
    margin-top: 40px;
    margin-left: 40px;
    color: var(--white--);
    text-align: center;
    margin-bottom: 40px;
    
}
.footer-info__text{
    color: var(--white--);
    font-size: 18px;
    line-height: 19px;
    /* margin-top: 55px; */
    width: 200px;
    margin-left: 40px;
}
.footer-info__text::before{
    content: "#";
    color: #49A144;
}
.footer-img{
    margin-top: 25px;
    width: 200px;
}
.footer-img__contacts{
    margin-left: 40px;
    margin-top: 20px;
}

.footer-info__item {
    margin-top: 39px;
    margin-left: 40px;
}
.footer-info__item a{
    color: var(--white--);
}
.footer-end__text{
    font-size: 14px;
    line-height: 13px;
    color: var(--white--);
    margin-top: 30px;
    margin-left: 40px;
}
.item--third{
    margin-top: 30px;
}


